:root {
  // Slate
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;

  // White
  --white: #ffffff;

  // Typography
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  // Spacing
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
}
