:root {
  // Slate
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;

  // White
  --white: #ffffff;

  // Typography
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  // Spacing
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vh;
  background-color: var(--slate-300);

  .container {
    // padding: (calc(230.5px / 16px) * 1rem) 35rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .card {
      background-color: var(--white);
      border-radius: 1rem;
      width: 20rem;
      height: calc(499px / 16px) * 1rem;
      padding: var(--spacing-200) var(--spacing-200) var(--spacing-500)
        var(--spacing-200);

      .qr-code {
        margin-bottom: var(--spacing-300);
        img {
          width: 18rem;
          border-radius: 0.5rem;
        }
      }

      .text {
        padding: 0 var(--spacing-200) 0 var(--spacing-200);
        text-align: center;

        .bold-text {
          color: var(--slate-900);
          font-size: calc(22px / 16px) * 1rem;
          font-weight: var(--font-weight-bold);
          margin-bottom: var(--spacing-200);
          letter-spacing: 0;
          line-height: 120%;
        }

        .light-text {
          color: var(--slate-500);
          font-size: calc(15px / 16px) * 1rem;
          font-weight: var(--font-weight-regular);
          letter-spacing: 0.2px;
          line-height: 140%;
        }
      }
    }
    }
  }
}
